<footer>
    <p><a href="https://bryanrieger.com">&copy; Bryan Rieger</a></p>
    <ul class="social">
        <li><a href="https://micro.blog/{{ .Site.Author.username }}" rel="me"><span>Micro.blog</span><svg class="icon" viewBox="0 0 32 32" width="32" height="32"><use href="#microblog.icon" /></svg></a></li>
        <li><a href="https://bsky.app/profile/bryanrieger.bsky.social" aria-label="Bluesky" rel="external"><span>Bluesky</span><svg class="icon" viewBox="0 0 32 32" width="32" height="32"><use href="#bluesky.icon" /></svg></a></li>
        <li><a href="https://www.instagram.com/bryanrieger" aria-label="Instagram" rel="external"><span>Instagram</span><svg class="icon" viewBox="0 0 32 32" width="32" height="32"><use href="#instagram.icon" /></svg></a></li>
    </ul>
</footer>
