{{ $pag := $.Paginator }}
<nav>
  <ol id="pages">
	{{ if or $pag.HasPrev $pag.HasNext }}
		{{ if $pag.HasPrev }}
		<li><a rel="prev" href="{{ $pag.Prev.URL }}">Back<svg class="icon" viewBox="0 0 32 32" width="32" height="32"><use href="#back.icon" /></svg></a></li>
		{{ end }}
		<li>Page {{ $pag.PageNumber }} of {{ $pag.TotalPages }}</li>
		{{ if $pag.HasNext }}
		<li><a rel="next" href="{{ $pag.Next.URL }}">Next<svg class="icon" viewBox="0 0 32 32" width="32" height="32"><use href="#next.icon" /></svg></a></li>
		{{ end }}
	{{ end }}
  </ol>
</nav>